ci:
    autofix_commit_msg: 'refactor(lint): apply automatic lint fixes'
    autoupdate_commit_msg: 'chore(deps): bump pre-commit linter versions'

default_language_version:
    python: python3.10

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: check-vcs-permalinks
  - id: check-xml
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: detect-private-key
    exclude: (auth/tests/unit/token_test.py)|(storage/gcloud/aio/storage/blob.py)
  - id: end-of-file-fixer
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: trailing-whitespace

# python
  - id: check-ast
  - id: check-builtin-literals
  - id: check-docstring-first
  - id: debug-statements
  - id: double-quote-string-fixer
  - id: name-tests-test
  - id: requirements-txt-fixer
- repo: https://github.com/PyCQA/pylint
  rev: v4.0.4
  hooks:
  - id: pylint
    args:
    - --load-plugins=pylint.extensions.mccabe
    - --max-complexity=10
    - --max-line-length=79
    - --max-args=10
    - --max-positional-arguments=10
    - --py-version=3.10
    - --score=n
    - -d broad-except
    - -d broad-exception-raised  # TODO: fixme
    - -d duplicate-code
    - -d fixme
    - -d import-error
    - -d invalid-name
    - -d locally-disabled
    - -d missing-docstring
    - -d too-few-public-methods
    - -d too-many-arguments  # we generally match args to the Google APIs
    - -d try-except-raise
    - -d ungrouped-imports  # conflicts with reorder-python-imports
    - -d wrong-import-order  # conflicts with reorder-python-imports
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.6
  hooks:
  - id: remove-crlf
  - id: remove-tabs
- repo: https://github.com/asottile/reorder_python_imports
  rev: v3.16.0
  hooks:
  - id: reorder-python-imports
    args: [--py310-plus]
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py310-plus]
# TODO: enable me
# - repo: https://github.com/asottile/add-trailing-comma
#   rev: v4.0.0
#   hooks:
#   - id: add-trailing-comma
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - &mypy
    id: mypy
    name: mypy-auth
    require_serial: True
    language: python
    # N.B. mypy requires an installed version of whatever third-party
    # library it is asked to check against. In practice, that means
    # whenever we see an error telling us to do so, we should add the
    # relevant library to `additional_dependencies`.
    # Note that some libraries keep their type hints in packages named
    # `types-$lib` or `$lib-stubs`.
    additional_dependencies:
    - aiohttp==3.13.3
    - backoff==2.2.1
    - cryptography==46.0.5
    - pyjwt==2.11.0
    - types-requests==2.32.4.20260107
    args:
    - --show-error-codes
    - --strict
    - --strict-equality
    - --warn-unreachable
    files: auth/
    exclude: tests/
  - <<: *mypy
    name: mypy-bigquery
    additional_dependencies:
    - aiohttp==3.13.3
    - gcloud-aio-auth==5.4.2
    - types-requests==2.32.4.20260107
    files: bigquery/
  - <<: *mypy
    name: mypy-datastore
    additional_dependencies:
    - aiohttp==3.13.3
    - gcloud-aio-auth==5.4.2
    - types-requests==2.32.4.20260107
    files: datastore/
  - <<: *mypy
    name: mypy-kms
    additional_dependencies:
    - aiohttp==3.13.3
    - gcloud-aio-auth==5.4.2
    - types-requests==2.32.4.20260107
    files: kms/
  - <<: *mypy
    name: mypy-pubsub
    additional_dependencies:
    - aiohttp==3.13.3
    - gcloud-aio-auth==5.4.2
    - prometheus-client==0.24.1
    - types-requests==2.32.4.20260107
    files: pubsub/
  - <<: *mypy
    name: mypy-storage
    additional_dependencies:
    - aiohttp==3.13.3
    - gcloud-aio-auth==5.4.2
    - rsa==4.9.1
    - types-aiofiles==25.1.0.20251011
    - types-requests==2.32.4.20260107
    files: storage/
  - <<: *mypy
    name: mypy-taskqueue
    additional_dependencies:
    - aiohttp==3.13.3
    - gcloud-aio-auth==5.4.2
    - types-requests==2.32.4.20260107
    files: taskqueue/
- repo: https://github.com/asottile/yesqa
  rev: v1.5.0
  hooks:
  - id: yesqa
    language: python
    # N.B. keep these in sync with flake8, otherwise yesqa will remove
    # required noqa's related to these plugins
    additional_dependencies: &flake8deps
    - flake8-2020==1.8.1
    - flake8-broken-line==1.0.0
    - flake8-builtins==3.1.0
    - flake8-comprehensions==3.17.0
- repo: https://github.com/hhatto/autopep8
  rev: v2.3.2
  hooks:
  - id: autopep8
    args: [-a, -i, -p2]
# TODO: enable me
# - repo: https://github.com/PyCQA/pydocstyle
#   rev: 6.3.0
#   hooks:
#   - id: pydocstyle
#     args:
#     - --ignore=D1,D203,D205,D212,D400,D401,D404,D407,D412,D413
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    language: python
    additional_dependencies: *flake8deps
    args:
    # TODO: fix A005
    - --ignore=A005,E501,W503,F401,F811
- repo: local
  hooks:
  - id: poetry-check
    name: check pyproject.toml validity
    description: 'Validate the structure of the pyproject.toml file'
    entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
    language: python
    additional_dependencies:
    - poetry==2.3.2
    pass_filenames: true
    files: 'pyproject\.toml$'
  - id: poetry-use-version-ranges
    name: avoid using carets for version ranges
    description: 'Avoid using carets for version ranges'
    entry: '\^'
    language: pygrep
    types: [toml]
    files: 'pyproject.toml$'
  - id: pytest-fixtures-require-scope
    name: ensure pytest fixture scopes are explicitly set
    description: 'Ensure we explicitly set pytest fixture scopes'
    entry: '@pytest\.fixture( |\n|(\(\)))'
    language: pygrep
    types: [python]
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-eval
  - id: python-no-log-warn
  - id: python-use-type-annotations

# rst
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal

# json
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.2
  hooks:
  - id: check-circle-ci
  - id: check-github-workflows
  - id: check-renovate
    language: python
    additional_dependencies:
    - pyjson5==2.0.0
