repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-toml
    -   id: check-vcs-permalinks
    -   id: check-xml
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: detect-private-key
        exclude: auth/tests/unit/token_test.py
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: trailing-whitespace

# python
    -   id: check-ast
    -   id: check-builtin-literals
    -   id: check-docstring-first
    -   id: debug-statements
    -   id: double-quote-string-fixer
    -   id: name-tests-test
    -   id: requirements-txt-fixer
-   repo: https://github.com/pycqa/pylint
    rev: pylint-2.8.1
    hooks:
    -   id: pylint
        additional_dependencies:
        # TODO: >0.2.0
        - git+https://github.com/bayesimpact/pylint_import_modules@016f79e4d2
        args:
        - --allowed-direct-imports="typing.*"
        - --load-plugins=pylint_import_modules
        - --max-line-length=79
        - --max-args=10
        - --score=n
        - -d broad-except
        - -d duplicate-code
        - -d fixme
        - -d import-error
        - -d import-only-modules
        - -d invalid-name
        - -d locally-disabled
        - -d missing-docstring
        - -d too-few-public-methods
        - -d too-many-arguments
        - -d ungrouped-imports  # conflicts with reorder-python-imports
        - -d wrong-import-order  # conflicts with reorder-python-imports
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.5.0
    hooks:
    -   id: reorder-python-imports
        args: [--py26-plus]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
    -   &mypy
        id: mypy
        name: mypy-auth
        require_serial: True
        args:
        - --ignore-missing-imports
        - --follow-imports=silent
        - --show-error-codes
        - --strict
        - --strict-equality
        - --warn-unreachable
        files: auth/
        exclude: (tests/.*)|(noxfile.py)
    -   <<: *mypy
        name: mypy-bigquery
        files: bigquery/
    -   <<: *mypy
        name: mypy-datastore
        files: datastore/
    -   <<: *mypy
        name: mypy-kms
        files: kms/
    -   <<: *mypy
        name: mypy-pubsub
        files: pubsub/
    -   <<: *mypy
        name: mypy-storage
        files: storage/
    -   <<: *mypy
        name: mypy-taskqueue
        files: taskqueue/
-   repo: https://github.com/asottile/yesqa
    rev: v1.2.3
    hooks:
    -   id: yesqa
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.1
    hooks:
    -   id: flake8
        args:
        - --ignore=E501,W503,F401,F811
-   repo: local
    hooks:
    -   id: pytest-fixture-require-scope
        name: Require explicit scope for pytest fixtures
        description: 'Ensure we explicitly set pytest fixture scopes'
        entry: '@pytest\.fixture( |\n|(\(\)))'
        language: pygrep
        types: [python]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
    -   id: python-no-eval
    -   id: python-no-log-warn
    -   id: python-use-type-annotations

# rst
    -   id: rst-backticks
    -   id: rst-directive-colons
    -   id: rst-inline-touching-normal
