[tool.poetry]
name = "gcloud-aio-auth"
version = "4.0.0-alpha.2"
description = "Python Client for Google Cloud Auth"
readme = "README.rst"

repository = "https://github.com/talkiq/gcloud-aio"
authors = ["Vi Engineering <voiceai-eng@dialpad.com>"]
license = "MIT"

packages = [
    { include = "gcloud" },
]

classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'Operating System :: OS Independent',
    'Topic :: Internet',
]

[tool.poetry.dependencies]
python = ">= 3.6, < 4.0"
aiohttp = ">= 3.3.0, < 4.0.0"
backoff = ">= 1.0.0, < 2.0.0"
cffi = { version = "< 1.15.0", python = "~3.5" }
chardet = [
    { version = ">= 2.0, < 4.0", python = "<3.6" },
    { version = ">= 2.0, < 4.1", python = ">=3.6" },
]
cryptography = ">= 2.0.0, < 37.0.0"
future = ">= 0.17.0, < 0.18.3"
pyjwt = ">= 1.5.3, < 3.0.0"
# requests = ">= 2.2.1, < 3.0.0"
six = ">= 1.11.0, < 2.0.0"
typing = { version = ">= 3.7.4.1, < 4.0.0", python = "<3.6.2" }

[tool.poetry.dev-dependencies]
pytest = ">= 4.0.0, < 8.0.0"
pytest-asyncio = ">= 0.16.0, < 0.19.0"
pytest-mock = ">= 2.0.0, < 4.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
