version: 2.1

orbs:
  linter: thekevjames/linter@0.1

jobs:
  lint-rest:
    parameters:
      config_file:
        default: .pre-commit-config.yaml
        description: |
          Optional alternate config file.
        type: string
    docker:
      - image: python:2.7.15
    steps:
      - attach_workspace:
          at: rest
      - run:
          command: |
            cd rest/
            git init && git add -A
            pip install pre-commit
            pre-commit run --all-files -c <<parameters.config_file>>
  nox:
    docker:
      - image: thekevjames/nox:2018.10.17
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /key.json
    parameters:
      folder:
        type: string
    steps:
      - run: apt-get -qy update && apt-get -qy install libssl-dev
      - run: echo ${GOOGLE_SERVICE_PUBLIC} | base64 -d > "${GOOGLE_APPLICATION_CREDENTIALS}"
      - checkout
      - run: nox -f <<parameters.folder>>/noxfile.py

  pypi:
    docker:
      - image: python:3.7.4-slim
    steps:
      - run: pip install pyopenssl twine
      - deploy:
          name: upload to pypi
          command: |
            cd $(echo "${CIRCLE_TAG}" | sed 's/-.*//')
            python setup.py sdist bdist_wheel
            twine upload dist/*

  pypi-rest:
    docker:
      - image: python:3.7.4-slim
    steps:
      - run: pip install pyopenssl twine
      - attach_workspace:
          at: rest
      - deploy:
          name: upload to pypi
          command: |
            cd rest/
            cd $(echo "${CIRCLE_TAG}" | sed 's/-.*//')
            python setup.py sdist bdist_wheel
            twine upload dist/*

  github:
    docker:
      - image: python:3.7.4-alpine
    steps:
      - run: apk add --no-cache curl git openssh-client
      - checkout
      - run:
          name: install github-release
          command: |
            curl -L https://github.com/aktau/github-release/releases/download/v0.7.2/linux-amd64-github-release.tar.bz2 > github-release.tar.bz2
            tar xjf github-release.tar.bz2
            rm -f github-release.tar.bz2
      - deploy:
          name: create GitHub release
          command: |
            export PROJECT=$(echo "${CIRCLE_TAG}" | sed 's/-.*//')
            export PREV_RELEASE=$(git tag --sort=version:refname | grep ${PROJECT} | tail -n2 | head -n1)
            [ "${PREV_RELEASE}" = "${CIRCLE_TAG}" ] && export PREV_RELEASE=$(git rev-list --max-parents=0 HEAD)
            [ -z "${PREV_RELEASE}" ] && export PREV_RELEASE=$(git rev-list --max-parents=0 HEAD)

            git log ${PREV_RELEASE}..${CIRCLE_TAG} --pretty=format:'- %s' > release-description.md
            ./bin/linux/amd64/github-release release -t "${CIRCLE_TAG}"
            cat release-description.md | grep ${PROJECT} | ./bin/linux/amd64/github-release edit -t ${CIRCLE_TAG} -d -

  py3to2:
    docker:
      - image: python:3.7.0-slim
    steps:
      - checkout
      # Install some requirements
      - run: pip install pytest future strip-hints future-fstrings[rewrite]

      # Rename files and paths to `rest` and make strings py2 compatible
      - run: find . -exec dirname {} \; | grep "aio" | sed 's/aio/rest/g' | xargs -L1 mkdir -p
      - run: for file in $(find . -type f | grep "aio"); do cp -r $file $(echo "$file" | sed 's/aio/rest/g'); done
      # For some files with conflicts due to unicode encoding in py2, do not use
      # the automated string conversion tools
      - run: for file in $(find . -type f | grep '\.py$' | grep -E "datastore.*(value|constants|value_types_test|value_test)\.py$" | sort | uniq); do new_file=$(echo "$file" | sed 's/aio/rest/g'); temp_file="${new_file}.bkp"; cp $file $temp_file; strip-hints $temp_file > "${temp_file}.tmp"; mv "${temp_file}.tmp" $new_file; rm $temp_file; echo "Skipped formatting ${new_file}"; done
      - run: for file in $(find . -type f | grep '\.py$' | grep -Ev "datastore.*(value|constants|value_types_test|value_test)\.py$" | sort | uniq); do new_file=$(echo "$file" | sed 's/aio/rest/g'); temp_file="${new_file}.bkp"; future-fstrings-show $file > $temp_file; strip-hints $temp_file > "${temp_file}.tmp"; mv "${temp_file}.tmp" $new_file; rm $temp_file; echo "Formatting ${new_file}"; done

      # Remove the files with `aio` in file names (we copied all required files
      # already)
      - run: find . -type f | grep "aio" | xargs -L1 rm -r

      # Replace build metadata
      - run: find . -type f | xargs -L1 sed -Ei 's/gcloud\.aio/gcloud\.rest/g'
      - run: find . -type f | xargs -L1 sed -Ei 's/gcloud-aio/gcloud-rest/g'
      - run: find . -type f | grep "setup\.py$" | xargs -L1 sed -Ei "s/python_requires='>= 3\.6'/python_requires='>= 2\.7\.15'/g"
      - run: echo "BUILD_GCLOUD_REST = True" | tee $(find . -type f | grep 'auth/build_constants\.py$')

      # Backport other things like type hints, exception handling, etc.
      - run: find . -type f | grep '\.py$' | grep -Ev "datastore.*(value|constants|value_types_test|value_test)\.py$" | xargs -L1 pasteurize --nobackups --write

      # Add object class inheritence where needed for python2
      - run: find . -type f | grep "\.py$" | xargs -L1 sed -Ei 's/(class\s\w+):/\1(object):/g'

      # Physically update files to remove incompatible syntax
      - run: find . -type f | grep "requirements.txt" | xargs -L1 sed -Ei 's/aiohttp/#aiohttp/g'
      - run: find . -type f | grep -v "session.py" | xargs -L1 sed -Ei 's/AioSession/SyncSession/g'
      - run: find . -type f | xargs -L1 sed -Ei 's/(async|await) //g'
      - run: find . -type f | grep "tests/" | xargs -L1 sed -Ei 's/@pytest.mark.asyncio/#@pytest.mark.asyncio/g'
      - run: find . -type f | grep "tests/" | xargs -L1 sed -Ei 's/Session\(.*\)\sas/Session() as/g'

      # Remove pubsub
      - run: rm -r ./pubsub

      # Persist updated files in a workspace for tests & package deployment
      - persist_to_workspace:
          root: .
          paths:
          - ./*
  nox-rest:
    docker:
      - image: thekevjames/nox:2019.5.30
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /key.json
    parameters:
      folder:
        type: string
    steps:
      - run: echo ${GOOGLE_SERVICE_PUBLIC} | base64 -d > ${GOOGLE_APPLICATION_CREDENTIALS}
      - attach_workspace:
          at: rest
      - run: pip install future
      - run: nox -f rest/<<parameters.folder>>/noxfile.rest.py


workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          python_version: 3.6.6
          filters:
            tags:
              only: /.*/

      - nox:
          name: test-auth
          folder: auth
          filters:
            tags:
              only: /.*/
      - nox:
          name: test-bigquery
          folder: bigquery
          filters:
            tags:
              only: /.*/
      - nox:
          name: test-datastore
          folder: datastore
          filters:
            tags:
              only: /.*/
      - nox:
          name: test-kms
          folder: kms
          filters:
            tags:
              only: /.*/
      - nox:
          name: test-pubsub
          folder: pubsub
          filters:
            tags:
              only: /.*/
      - nox:
          name: test-storage
          folder: storage
          filters:
            tags:
              only: /.*/
      - nox:
          name: test-taskqueue
          folder: taskqueue
          filters:
            tags:
              only: /.*/
      - py3to2:
          name: build-rest
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - test-auth
            - test-bigquery
            - test-datastore
            - test-kms
            - test-pubsub
            - test-storage
            - test-taskqueue
      - lint-rest:
          name: lint-rest
          config_file: .pre-commit-config.rest.yaml
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - build-rest
      - nox-rest:
          name: test-rest-auth
          folder: auth
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - build-rest
            - lint-rest
      - nox-rest:
          name: test-rest-bigquery
          folder: bigquery
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - build-rest
            - lint-rest
      - nox-rest:
          name: test-rest-datastore
          folder: datastore
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - build-rest
            - lint-rest
      - nox-rest:
          name: test-rest-kms
          folder: kms
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - build-rest
            - lint-rest
      - nox-rest:
          name: test-rest-storage
          folder: storage
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - build-rest
            - lint-rest
      - nox-rest:
          name: test-rest-taskqueue
          folder: taskqueue
          filters:
            tags:
              only: /.*/
          requires:
            - linter/pre-commit
            - build-rest
            - lint-rest
      - pypi-rest:
          context: org-global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[a-z]+-[0-9]+\.[0-9]+\.[0-9]+/
          requires:
            - linter/pre-commit
            - test-rest-auth
            - test-rest-bigquery
            - test-rest-datastore
            - test-rest-kms
            - test-rest-storage
            - test-rest-taskqueue
      - pypi:
          context: org-global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[a-z]+-[0-9]+\.[0-9]+\.[0-9]+/
          requires:
            - linter/pre-commit
            - test-auth
            - test-bigquery
            - test-datastore
            - test-kms
            - test-pubsub
            - test-storage
            - test-taskqueue
      - github:
          context: org-global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[a-z]+-[0-9]+\.[0-9]+\.[0-9]+/
          requires:
            - linter/pre-commit
            - test-auth
            - test-bigquery
            - test-datastore
            - test-kms
            - test-pubsub
            - test-storage
            - test-taskqueue
